<div class="addProduct">
  <h2>Want to buy this ? </h2>
  <label>Quantity : </label>
  <input type="number">
  <span>(Max Quantity : 5) </span>
  <a href="#"><i class="fa fa-shopping-cart"></i> Add to cart </a>
</div>
<div class="otherSeller">
  <h2>Other Sellers </h2>
  <ul>
    <!-- repeat -->
    <li>
      <div class="sellerPrice">
        <h3>$546</h3>
        <a href="#">Add to cart</a>
      </div>
      
      <p>+ $40.00 Delivery charge</p>
      <p>Sold by: <a href="#">SHRI MAHALASA </a></p>
    </li>
    <!-- /repeat -->
  </ul>
</div>
