h3{
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #6c757d;
    margin-bottom: 19px;
    padding: 29px 0;
}
h3 span{color: #000; font-weight: 600;}
.cartTable{margin: 0;}
.cartTable li{
    display: grid;
    grid-template-columns: 10% 30% 14% 14% 14% 14% 4%;
    border-bottom: #ddd 1px solid;
    padding: 14px 0;
}
.cartTable li.last{
    grid-template-columns: 82% 18%;
    font-weight: 600;
    font-size: 18px;
}
.cartTable li p{
    margin-bottom: 0; 
    margin-right: 6px; 
    color: #6c757d;
    font-size: 14px;
}
.cartTable li.head{
    font-weight: 600;
    grid-template-columns: 40% 14% 14% 14% 18%;
    border-top: #ddd 1px solid;
}
.cartLinkPanel{
    text-align: right;
    padding: 19px;
    background: #eee;
    border-top: #ddd 1px solid;
    margin-bottom: 18px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.cartLinkPanel a{
    font-size: 14px;
    padding: 9px;
    font-weight: 600;
    color: #fff;
}
.simple{
    background: #555;
}
.solid{
    background: #4fbfa8;
}
.simple:hover, .solid:hover, .simple:focus, .solid:focus{color: #fff; text-decoration: none;}
.simple i, .solid i{font-size: 12px;}