<navbar></navbar>
<div class="pageheading">
  <div class="container"> 
    <h2>{{title}}</h2>
  </div>
</div>
<div class="container">
  <h3>You currently have <span>{{cartCount}} item(s)</span> in your cart. </h3>
  <div class="row">
    <div class="col-md-9">
      <ul class="cartTable">
        <li class="head">
          <p>Product </p>
          <p>Quantity </p>
          <p>Unit price </p>
          <p>Discount </p>
          <p>Total </p>
        </li>
        <!-- Cart list -->
        <cartlist></cartlist>
        <!-- Cart list -->
        <li class="last">
          <p>Total </p>
          <p>$448.00 </p>
        </li>
      </ul>
      <div class="cartLinkPanel">
        <a routerLink='/product/listing' class="simple"><i class="fa fa-long-arrow-left"></i> Continue Shopping</a>
        <a routerLink='/product/checkout' class="solid">Proceed to Checkout <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
    <div class="col-md-3">
      <order-summary></order-summary>
    </div>
  </div>
</div>
