h3{
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #6c757d;
    margin-bottom: 19px;
    padding: 29px 0;
}
h3 span{color: #000; font-weight: 600;}
.cartTable{margin: 0;}
.cartTable li{
    display: grid;
    border-bottom: #ddd 1px solid;
    padding: 14px 0;
}
.cartTable li.last{
    grid-template-columns: 82% 18%;
    font-weight: 600;
    font-size: 18px;
}
.cartTable li p{
    margin-bottom: 0; 
    margin-right: 6px; 
    color: #6c757d;
    font-size: 14px;
}
.cartTable li.head{
    font-weight: 600;
    grid-template-columns: 40% 14% 14% 14% 18%;
    border-top: #ddd 1px solid;
}
