.prodDetails{padding: 19px 0;}
.prodDetails p.head{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
}
.prodDetails h2{
	font-size: 16px;
	font-weight: 700;
	margin: 0 0 9px;
}
.prodDetails p{
	font-size: 16px;
	margin-bottom: 19px;
}
.prodDetails p.price{
    font-weight: 600; 
    color: #F16C49;
    font-size: 24px;
}
.prodDetails ul{
	margin-bottom: 19px;
    /* list-style-type: disc; */
    /* margin-left: 19px; */
}
.prodDetails ul li{
    font-size: 16px;
}
.prodDetails ul ul{
    margin-top: 9px;
}
.prodDetails ul li li{
    font-style: italic;
    font-size: 14px;
    color: #F16C49;
}
.prodDetails ul ul li::before{
    content: '\f0da';
    font-family: FontAwesome;
    padding-right: 6px;
    font-size: 10px;
}


