<div class="row">
  <div class="col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked />
      <label class="form-check-label" for="exampleRadios1">
        PAYPAL <span>We like it all. </span>
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" />
      <label class="form-check-label" for="exampleRadios2">
        PAYMENT GATEWAY <span>VISA and Mastercard only. </span>
      </label>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" />
      <label class="form-check-label" for="exampleRadios3">
        CASH ON DELIVERY <span>You pay when you get it. </span>
      </label>
    </div>
  </div>
</div>

<div class="cartLinkPanel">
  <a routerLink='/checkout/address' class="simple"><i class="fa fa-long-arrow-left"></i> Go to Address</a>
  <a routerLink='/checkout/overview' class="solid">Review Order <i class="fa fa-long-arrow-right"></i></a>
</div>
