<div class="subCat">
    <h2>Categories</h2>
    <span class="bdrbt"></span>
    <h3>Men <span>42</span></h3>
    <ul>
  <li><a href="/product/listing" class="selected">T-shirts</a></li>
  <li><a href="/product/listing">T-shirts</a></li>
  <li><a href="/product/listing">T-shirts</a></li>
  <li><a href="/product/listing">T-shirts</a></li>
</ul>

<h3>ladies <span>59</span></h3>
<ul>
  <li><a href="/product/listing">Pant</a></li>
  <li><a href="/product/listing">Pant</a></li>
  <li><a href="/product/listing">Pant</a></li>
  <li><a href="/product/listing">Pant</a></li>
</ul>

<h3>Kids <span>61</span></h3>
<ul>
  <li><a href="/product/listing">T-shirts</a></li>
  <li><a href="/product/listing">T-shirts</a></li>
  <li><a href="/product/listing">T-shirts</a></li>
  <li><a href="/product/listing">T-shirts</a></li>
</ul>
</div>